<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find rover_drive_controller)/urdf/motor_test.urdf.xacro'" />
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <node ns="rover" name="driver" pkg="canopen_motor_node" type="canopen_motor_node" output="screen" clear_params="true" launch-prefix="">
    <rosparam command="load" file="$(find rover_drive_controller)/config/can0.yaml" />
    <rosparam command="load" file="$(find rover_drive_controller)/config/rover_driver.yaml" />
  </node>

  <rosparam ns="rover" command="load" file="$(find rover_drive_controller)/config/rover_controller.yaml" />

  <!-- figure out controller spawning -->

  <rosparam ns="/script_server/rover" command="load" file="$(find rover_drive_controller)/config/joint_configurations.yaml" />
</launch>
