<?xml version="1.0"?>
<launch>
  <param name="robot_description" textfile="$(find rover_drive_controller)/urdf/rover_drive_train.urdf" />

  <node name="driver" pkg="canopen_motor_node" type="canopen_motor_node">
    <rosparam command="load" file="$(find rover_drive_controller)/config/can.yaml" />
    <rosparam command="load" file="$(find rover_drive_controller)/config/motor_driver.yaml" />
  </node>

  <rosparam command="load" file="$(find rover_drive_controller)/config/drive_controller.yaml" />
  <node name="rover_controller_spawner" pkg="controller_manager" type="spawner" args="rover_drive_controller" />
  <node name="rover_drive_node" pkg="rover_drive_controller" type="drive_node" />
  <node name="teleop_twist_joy_node" pkg="teleop_twist_joy" type="teleop_node">
    <param name="scale_linear_turbo" type="double" value="2.0" />
    <param name="scale_angular_turbo" type="double" value="2.0" />
    <param name="enable_turbo_button" type="int" value="5" />
  </node>
</launch>
