<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find rover_drive_controller)/urdf/rover.urdf.xacro'" />

  <node name="driver" pkg="canopen_motor_node" type="canopen_motor_node">
    <rosparam command="load" file="$(find rover_drive_controller)/config/can.yaml" />
    <rosparam command="load" file="$(find rover_drive_controller)/config/motor_driver.yaml" />
  </node>

  <rosparam command="load" file="$(find rover_drive_controller)/config/rover_controller.yaml" />
  <node name="rover_controller_spawner" pkg="controller_manager" type="spawner" args="diff_drive_controller" />
  <node name="joy_node" pkg="joy" type="spawner" args="diff_drive_controller" />
  <node name="teleop_twist_joy_node" pkg="teleop_twist_joy" type="spawner" args="diff_drive_controller" />
</launch>
